*{
  font-family: : Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg');
  color: white;
}
