* {
  font-family: 'Permanent Marker', cursive;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 223, 43);
  background-repeat: no-repeat;
  color: black;
  text-align: center;

}

p {
  text-align: left;
}

.tag {
  text-decoration: underline;
}

#devicons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 10px;
  padding: 25px 25px;
  margin: 20px;
  justify-content: flex-start;

}

i {
  font-size: 75px;
  padding: 10px;
}

.container {
  display: flex;
  padding: 40px 0px;

}

.contactdiv {
  display: flex;
  padding: 40px;
  justify-content: center;

}

.contactdiv a {
  text-decoration: none;
  padding: 50px;
  color: black;
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 10px;
  padding: 25px;
  width: 50%;
  margin: 20px;
}

.skillbox {
  padding-bottom: 50px;
}
.topnav {
  background-color: rgb(255, 223, 43);
  padding-top: 10px;
  position: fixed;
  top:0;
  width:100%;
  overflow: hidden;
}

.topnav a {
  color: #0b1100;
  text-align: center;
  margin-top: 20px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a:hover {
  color: white;

}
#name {
  font-size: 200px;
}

.subtitle {
  font-size: 100px;
  margin: 0 auto;
  padding: 40px;
}

.texts {
  display: flex;
  justify-content: left;
  color: black;
  background-color: white;
  font-family: 'Raleway';
  border-radius: 25px;
  box-shadow: 5px 10px;
  padding: 25px;
  justify-content: flex-end;
  margin: 20px;

}

.text {
  display: flex;
  justify-content: left;
  color: black;
  background-color: white;
  font-family: 'Raleway';
  border-radius: 25px;
  box-shadow: 5px 10px;
  padding: 25px;
  width: 50%;
  margin: 20px;

}



.footer {
   position: relative;
   left: 0;
   bottom: 0;
   height: 450px;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}
/* Stuff i might use later

#name {
  font-size: 200px;
  overflow: hidden;
  background: linear-gradient(90deg, rgb(255, 223, 43), #000, rgb(255, 223, 43));
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-fill-mode: forwards;
}

@keyframes animate
{
    0%
    {
      background-position: -500%;
    }
    100%
    {
      background-position: 500%;
    }
}

*/
